<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Accueil</a>
      </li>
      <li>
        <a href="/about"><span class="glyphicon glyphicon-info-sign"></span> À propos</a>
      </li>
      <li>
        <a href="/how"><span class="glyphicon glyphicon-link"></span> Comment</a>
      </li>
      <li>
        <a href="/guide"><span class="glyphicon glyphicon-user"></span> Guides local</a>
      </li>
      <li>
        <a href="/map"><span class="glyphicon glyphicon-globe"></span> Carte Velo</a>
      </li>
    </ul>
  </div>
</nav>
