<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <!-- add mobile viewing--> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="">
      <img src="">
    </a>
    <h1>Guides Local</h1>
    
    <p>Liste de guides local:</p>
    <p>YEAH!!</p>
</div>


</body>
</html>