<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <!-- add mobile viewing--> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="">
      <img src="">
    </a>
    <h1>Help Us Grow</h1>
    
    <p>We are always seeking to grow and add new data for people to enjoy.  The data will be shared first with locals to make sure the data is clear, clean and rated appropriately.</p>
    <p>To share your data please send to ....</p>
</div>


</body>
</html>
