<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <!-- add mobile viewing--> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="">
      <img src="">
    </a>
    <h1>Aidez-nous à grandir</h1>
    
    <p>Nous cherchons toujours à grandir et à ajouter de nouvelles données pour que les gens puissent en profiter. Les données seront d'abord partagées avec les habitants pour s'assurer que les données sont claires, propres et notées de manière appropriée.</p>
    <p>Pour partager vos données, veuillez envoyer à ....</p>
</div>


</body>
</html>
