<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <!-- add mobile viewing--> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="">
      <img src="">
    </a>
    <h1>À propos</h1>
    
    <p>J'adore le vélo avant tout et je vis actuellement dans la belle ville de Briançon dans les Hautes-Alpes de France. Comme j'ai découvert plus de joyaux cachés du vélo, j'ai voulu enregistrer cela pour les futurs motards afin qu'ils puissent découvrir les mêmes aventures. Au cours de ce processus, j'ai eu une passion et une soif de connaissances dans le domaine des SIG et de la programmation informatique, alors j'ai pensé qu'il serait préférable de combiner mon désir de faire du vélo avec ma soif de connaissances.</p>
    <p>J'espère que vous apprécierez les cartes et je suis toujours désireux de nouvelles données GPS et d'entrées pour améliorer le site</p>
</div>


</body>
</html>
