<!DOCTYPE html>
<html>
<head>

  <!-- add mobile viewing--> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  
  <% include ../partials/header.ejs %>

</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="">
      <img src="">
    </a>
    <h1>VTT Serre Chevalier</h1>
    <p>Il s'agit d'une plate-forme communautaire pour les pistes cyclables locales de Serre Chevalier.</p>
    
    <!--connecting my QGIS map to the server -->
    <a type="button" class="btn btn-lg btn-default" href="/map" ><span class="glyphicon glyphicon-globe"></span> Carte Vélo</a>
  </div>
</div>


  <hr>
<div class="text-center">
    <div class="">
      <h3><span class="glyphicon glyphicon-info-sign"></span><a href="/about">À propos</a></h3>
      <ul>
        <p></p>
      </ul>
    </div>
  
    <div class="text-center">
      <h3><span class="glyphicon glyphicon-link"></span> Comment vous pouvez aider</h3>
      <ul>
        <p>Faites partie de la communauté et partagez vos données.</p>
        <p>Trouver <a href="/how"> comment.</p>
      </ul>
    </div>
</div>


</body>
</html>
