<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="">
      <img src="">
    </a>
    <h1>VTT Serre Chevalier</h1>
    <p>This is a community-based platform for local Serre Chevalier bike trails.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Bike Map</a>
  </div>
</div>
  <hr>
  <div class="row">
    <div class="col-md-6">

      <h3><span class="glyphicon glyphicon-info-sign"></span> How you can help </h3>
      <ul>
        <li>Share your data.  Find out more <a href=""> here.</a></li>
        <li>Share you expertise.  Ways you <a href=""> help.</li>
      </ul>
    </div>
    <div class="col-md-6">

      <h3><span class="glyphicon glyphicon-link"></span> Something New</h3>
      <ul>
        <li>More info to follow...</li>
        </ul>
      </ul>

      <h3><span class="glyphicon glyphicon-link"></span> Other Resources</h3>
      <ul>
        <li><a href="">Maps</a></li>
        <li><a href="">Links</a></li>
        <li><a href="">Associations</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>


</body>
</html>
