<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="">
      <img src="">
    </a>
    <h1>About</h1>
    
    <p>First and foremost I love biking and I am currently living in the beautiful town of Briancon in the Hautes-Alpes of France.  As I have discovered more of the hidden gems of biking I have wanted to record that for future bikers so that they can discover the same adventures.  During this process I have had a passion and thirst for knowledge in the GIS and computer programming domain so I thought it would be best to combine my desire of biking with my hunger of knowledge.</p>
    <p>I hope you enjoy the maps and I am always keen for new GPS data and input on improving the site</p>
</div>


</body>
</html>
