<!DOCTYPE html>
<html>
<head>

  <!-- add mobile viewing--> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  
  <% include ../partials/header.ejs %>

</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="">
      <img src="">
    </a>
    <h1>VTT Serre Chevalier</h1>
    <p>This is a community-based platform for local Serre Chevalier bike trails.</p>
    
    <!--connecting my QGIS map to the server -->
    <a type="button" class="btn btn-lg btn-default" href="/map" ><span class="glyphicon glyphicon-flash"></span> Bike Map</a>
  </div>
</div>


  <hr>
<div class="text-center">
    <div class="">
      <h3><span class="glyphicon glyphicon-info-sign"></span><a href="/about">About</a></h3>
      <ul>
        <p></p>
      </ul>
    </div>
  
    <div class="text-center">
      <h3><span class="glyphicon glyphicon-link"></span> How you can help</h3>
      <ul>
        <p>Be a part of the community and share you data.</p>
        <p>Find out <a href="/how"> how.</p>
      </ul>
    </div>
</div>


</body>
</html>
